{{define "head"}}
<link rel="stylesheet" type="text/css" href="/css/home.css">
{{end}}
{{define "header"}}
<h1>{{.Params.title}}</h1>
{{end}}
{{define "main"}}
<div id="introduction">
    {{.Content}}
</div>
<div>
    <p>
    Adipisicing non tempor tempor id commodo nisi. Minim in Lorem nulla pariatur. Irure qui excepteur culpa veniam laborum Lorem ea eiusmod ex pariatur. Excepteur irure ad enim irure consectetur dolor minim ullamco eiusmod consequat incididunt nulla id exercitation.
    Adipisicing non tempor tempor id commodo nisi. Minim in Lorem nulla pariatur. Irure qui excepteur culpa veniam laborum Lorem ea eiusmod ex pariatur. Excepteur irure ad enim irure consectetur dolor minim ullamco eiusmod consequat incididunt nulla id exercitation.
</p>
</div>

{{/*  KALENDÁŘ  */}}
{{end}}